body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header styles */
header {
    font-family: "Lovers Quarrel", cursive, sans-serif;;
    background-color: #7c7777;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container img {
    padding-left: 10px;
    width: 100px;
    height: 100px;
}

.n_link{
    color: black;
    text-align: center;
    text-decoration-color: #090909;
    background-color: #333; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    
}

main {
    /* max-width: 800px; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.schedule th, .schedule td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.schedule th {
    background-color: #f2f2f2;
    font-weight: bold;
}