body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    font-family: "Playfair Display", sans-serif;;
    background-color: #7674c7;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.left-side {
    flex: 1;
}

.centered {
    flex: 1; 
    text-align: center; 
}

.right-side {
    flex: 1;
    text-align: right; 
}

.left-image {
    max-width: 100px;
}

.header-text {
    margin: 0; 
}

.header-text a {
    color: black;
    text-decoration: none; 
}

.header-text a:hover {
    color: rgb(108, 73, 73);
}

nav ul a {
    color: #333;
    text-decoration: none; 
    transition: color 0.3s; 
    margin-right: 20px;
}

nav ul  a:hover {
    color: #a50837; 
}

main {
    /* max-width: 800px; */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.schedule th, .schedule td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.schedule th {
    background-color: #f2f2f2;
    font-weight: bold;
}