body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header styles */
header {
    font-family: "Lovers Quarrel", cursive, sans-serif;;
    background-color: #106cbb;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10%;
}