{% extends 'app/base.html' %}


{% block content %}
  <h1>Welcome to the Pacers Ticket Hub </h1>
  <p>Find and register for upcoming events with ease.</p>
  <main>
    <section class="schedule">
      <h2>Upcoming Pacers Team Events</h2>
      <p><i>Indiana Pacers Games for November</i> </p>
        <table>
            <thead>
                <tr>
                    <th>Date & Time</th>
                    <th>Opponent</th>
                    <th>Location</th>
                    <th>Buy Tickets</th>
                </tr>
            </thead>
            
            <tbody>
              {% for event in events %}
              <tr>
                  <td>{{ event.date }}</td>
                  <td>{{ event.event_name }}</td>
                  <td>{{event.event_place}}</td>
                  <td><a href="{% url 'purchase' pk=event.pk %}">Buy Now</a></td> 

              </tr>
              {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
