{% extends 'app/base.html' %}


{% block content %}
  <h1>Welcome to the Pacers Ticket Hub </h1>
  <p>Find and register for upcoming events with ease.</p>
  <main>
    <section class="schedule">
      <h2>Upcoming Pacers Team Events</h2>
      <p><i>Indiana Pacers Games for November</i> </p>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Opponent</th>
                    <th>Location</th>
                    <th>Time</th>
                    <th>Buy Tickets</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Fri • Nov 03</td>
                    <td>Cleveland Cavaliers</td>
                    <td>Gainbridge Fieldhouse, Indianapolis, IN</td>
                    <td>7:00 PM </td>
                    <!-- leads to ticket purchasing page <a href="#">Buy Now</a>-->
                    <td><a href="{% url 'purchase' 1 %}">Buy Now</a></td> 

                </tr>
                <tr>
                    <td>Sat • Nov 04 </td>
                    <td>Charlotte Hornets</td>
                    <td>Gainbridge Fieldhouse, Indianapolis, IN</td>
                    <td>7:00 PM</td>
                </tr>
                <tr>
                  <td>Sat • Nov 04 </td>
                  <td>Utah Jazz</td>
                  <td>Gainbridge Fieldhouse, Indianapolis, IN</td>
                  <td>7:00 PM</td>
                </tr>
                <tr>
                  <td>Mon • Nov 06 </td>
                  <td>San Antonio Spurs</td>
                  <td>Gainbridge Fieldhouse, Indianapolis, IN</td>
                  <td>7:00 PM</td>
                </tr>
                <tr>
                  <td>Thu • Nov 09 </td>
                  <td>UMilwaukee Bucks</td>
                  <td>Gainbridge Fieldhouse, Indianapolis, IN</td>
                  <td>7:00 PM</td>
                </tr>
                <tr>
                  <td>Sun • Nov 19 </td>
                  <td> Orlando Magic</td>
                  <td>Gainbridge Fieldhouse, Indianapolis, IN</td>
                  <td>5:00 PM</td>
                </tr>
                <tr>
                  <td>Wed • Nov 22  </td>
                  <td> Toronto Raptors</td>
                  <td>Gainbridge Fieldhouse, Indianapolis, IN</td>
                  <td>7:30 PM</td>
                </tr>

                

                <!-- Add more rows for other events -->
            </tbody>
        </table>
    </section>
</main>
{% endblock %}
