{% extends 'app/base.html' %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <p><b>Event Name: </b>{{ event.event_name }}</p> 
    <p>Event Date: {{ event.date }}</p> 
    <p>Event Location: {{ event.event_place }}</p><br>
    <p>Purchase Details:</p>
    {{ form.first_name.label_tag }} {{ form.first_name }}<br>
    {{ form.last_name.label_tag }} {{ form.last_name }}
    {{ form.email.label_tag }} {{ form.email }}
    {{ form.ticket_type.label_tag }} {{ form.ticket_type }}
    <button type="submit">Purchase</button>
</form>
{% endblock %}
